<div class="container" *ngIf="UserExist">
    <form [formGroup]="options" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label><b> Your Email </b></mat-label>
            <input formControlName="Email" matInput placeholder="Enter User Name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input type="text" id="inputName" formControlName="UserName" matInput placeholder="Enter User Name"
                required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput id="PhoneNumber" formControlName="PhoneNumber" placeholder="Phone Number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-select required>
                <mat-option>-- None --</mat-option>
                <mat-option value="option">Option</mat-option>
            </mat-select>
            <mat-label>
                <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i>
            </mat-label>
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button type="submit" mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
        </div>
    </form>
</div>


<div class="container" *ngIf="!UserExist">
    <H1>Enter code <sub>1234</sub></H1>
    <P>ברגע זה נשלח קוד למייל שלך</P>
   
    <input [(ngModel)]="code" id="code">
    <div mat-dialog-actions>
        <button mat-button>לקבלת קוד חדש</button>
        <button (click)="codeSendAuthentication()" mat-button cdkFocusInitial>SEND</button>

        <div class="d-grid gap-2 col-6 mx-auto" *ngIf=authentication>
            <button class="btn btn-outline-success" mat-raised-button  [mat-dialog-close] >OK</button>
        </div>

    </div>
</div>