<!-- <div class="col-md-6"> -->
    <div class="row py-5 p-4 bg-white rounded shadow-sm">
      <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">מימוש קופון</div>
        <div class="p-4">
          <p class="font-italic mb-4">אם ברשותך קופון אנא הכנס פרטים</p>
          <div class="input-group mb-4 border rounded-pill p-2">
            <input type="text" placeholder="הכנס קופון" aria-describedby="button-addon3" class="form-control border-0">
            <div class="input-group-append border-0">
              <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill" ><i class="fa fa-gift mr-2"></i></button>
            </div>
          </div>
        </div>
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">הערות לתשומת לב החנות</div>
        <div class="p-4">
          <p class="font-italic mb-4">אם יש לכם איזה משוב לגבי הקופון או כל דבר אחר הזן כאן בקצרה</p>
          <textarea name="" cols="30" rows="2" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">סיכום הזמנה </div>
        <div class="p-4">
          <p class="font-italic mb-4">עלויות ההזמנה והמשלוח בכפוף לערכים שהזנתם</p>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong>{{price}}</strong><strong class="text-muted">סך הכל </strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong>0.00</strong><strong class="text-muted">משלוח</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong>{{tax | number : '1.0-2'}}</strong><strong class="text-muted">מע"מ</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong>{{priceEndTax}}</strong><strong class="text-muted">סך הכל כולל מע"מ</strong>
              <h5 class="font-weight-bold"></h5>
            </li>
          </ul>
          <!-- <a routerLink='/payment' href="#" class="btn btn-dark rounded-pill py-2 btn-block">לקופה</a> -->
        </div>
      </div>
    </div>
    <!-- </div> -->
  
